<!-- <video class= "play"autoplay="" loop="" muted="" playsinline="">
<source src="https://player.vimeo.com/external/267608951.hd.mp4?s=6946590bf3cf7c08598c9652f7c0fad2d02160c9&amp;profile_id=175" type="video/mp4">
</video> -->

<div class="vimeo-wrapper">
   <iframe src="https://gcs-vimeo.akamaized.net/exp=1550240684~acl=%2A%2F991664064.mp4%2A~hmac=d7ac7ad4316a34e8765fab1fbf62f37e14214f42f7c74d2f3530d2343d11e35e/vimeo-prod-skyfire-std-us/01/3521/10/267608951/991664064.mp4"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<!-- <div class="video-banner">
  <div class="video" autoplay="1" loop="1" muted="" playsinline="">
    <iframe  frameborder="0" src="https://player.vimeo.com/external/267608951.hd.mp4?s=6946590bf3cf7c08598c9652f7c0fad2d02160c9&amp;profile_id=175" frameborder="0" allowfullscreen></iframe>
  </div>
    <div class="video-overlay">
    </div>
</div> -->
<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1507324554506-c701c6b592a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');">
  <div class="logo">
      <p class="paragraph">No.1</p>
      <h1>Cóctel</h1>sla
  </div>
</div> -->
<div class="container">
<%= link_to "COCKTAIL +",new_cocktail_path, class:"btn btn-primary"  %>
  <h1 class="text-center" >All Cocktails</h1>
  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6">
          <div class="cards">
            <div class="main-card">
            <div class="card-body" style="background-image:url('https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')">
              <h2><%=link_to cocktail.name, cocktail_path(cocktail) %></h2>
              <%= link_to "+ Dose",new_cocktail_dose_path(cocktail), class:"btn"  %>
              </div>
            </div>
          </div>
       </div>
    <% end %>
    </div>
</div>




