<!-- <video class= "play"autoplay="" loop="" muted="" playsinline="">
<source src="https://player.vimeo.com/external/267608951.hd.mp4?s=6946590bf3cf7c08598c9652f7c0fad2d02160c9&amp;profile_id=175" type="video/mp4">
</video> -->

<!-- <div class="vimeo-wrapper">
   <iframe src="https://gcs-vimeo.akamaized.net/exp=1550240684~acl=%2A%2F991664064.mp4%2A~hmac=d7ac7ad4316a34e8765fab1fbf62f37e14214f42f7c74d2f3530d2343d11e35e/vimeo-prod-skyfire-std-us/01/3521/10/267608951/991664064.mp4"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div> -->

<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1507324554506-c701c6b592a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');">
  <div class="logo">
      <p class="paragraph">No.1</p>
      <h1>Cóctel</h1>sla
  </div>
</div> -->

<div class="video-banner" >
  <div class="video" autoplay="1" loop="1" muted="" playsinline="" >
    <iframe  frameborder="0" src="https://player.vimeo.com/external/267608951.hd.mp4?s=6946590bf3cf7c08598c9652f7c0fad2d02160c9&amp;profile_id=175" frameborder="0" allowfullscreen> </iframe>
  </div>
  <div class="video-overlay">
  </div>
</div>
<div class="logo">
  <p class="paragraph">No.1</p>
  <h1>Cóctel</h1>
</div>

   <div class="shot">
      <%= link_to "COCKTAIL +",new_cocktail_path%>
     <h1 class="text-center" >All Cocktails</h1>
   </div>

<div class="container">
  <div class="wrapper">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
       <div class="col-xs-12  col-md-4 col-sm-6 ">
        <div class="card"><img src="https://images.unsplash.com/photo-1527091755570-1daada653420?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1343&q=80">
          <div class="info">
            <h2 ><%=link_to cocktail.name, cocktail_path(cocktail) ,:class => "type"%></h2>
            <button><%= link_to "+ Dose",new_cocktail_dose_path(cocktail)%></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>



